/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border{
    border: 1px dashed black;
}

/* HEADER */
.container{
    display: flex;
    padding: 1rem 4rem;
    background-color: rgb(171, 215, 229);
}

.log{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgb(217, 163, 37);
    flex-grow: calc(100 / 4);
}

.head-box{
    display: flex;
    justify-content: space-around;
    padding: 1rem 4rem;
    background-color: blue;
}

/* MAIN */
.main-box{
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
}

.lilla{
    width: 20rem;
    height: 8rem;
    background-color: rgb(237, 129, 237);
}

.first{
    background-color: white;
}

.pink-box{
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 191, 202);
}

.sky-box{
    width: 18rem;
    height: 10rem;
    background-color: rgb(35, 143, 255);
}

.second{
    background-color: rgb(210, 210, 210);
}

.green-box{
    width: 28rem;
    height: 20rem;
    background-color: rgb(39, 138, 39);
}

/* FOOTER */
