/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border{
    border: 1px dashed black;
}

.box{
    display: flex;
    justify-content: center;
    padding: 1rem 4rem; 
}


/* HEADER */
.bgc-light{
    background-color: rgb(171, 215, 229);
}

.log{
    display: flex;
    background-color: rgb(217, 163, 37);
}

.link{
    justify-content: center;
    list-style: none;
    width: 50rem;
}

.logo{
    justify-content: flex-start;
    width: 17rem;
}

.login{
    justify-content: flex-end;
    width: 17rem;
}

.head{
    background-color: blue;
}

.lilla{
    width: 45rem;
    height: 25rem;
    background-color: rgb(237, 129, 237);
}

/* MAIN */

.bgc-white{
    background-color: white;
}

.pink{
    width: 30rem;
    height: 30rem;
    background-color: rgb(255, 191, 202);
}

.sky{
    width: 54rem;
    height: 30rem;
    background-color: rgb(35, 143, 255);
}

.bgc-grey{
    background-color: rgb(210, 210, 210);
}

.green{
    width: 84rem;
    height: 40rem;
    background-color: rgb(39, 138, 39);
}

/* FOOTER */

.bgc-dark{
    background-color: rgb(40, 43, 46);
    padding-top: 0.5rem;
}

.border-white{
    border: 1px dashed white;
}

.coral{
    width: 40rem;
    height: 30rem;
    background-color: rgb(239, 127, 127);
}

.marine{
    width: 11rem;
    height: 30rem;
    background-color: rgb(37, 176, 168);
}

.down{
    display: flex;
    background-color: aquamarine;
    width: 84rem;
    justify-content: space-between;
    padding: 1rem 0;
}

.last{
    background-color: plum;
    padding: 2px 1rem;
}

.last-padding{
    padding-bottom: 0;
}