/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border{
    border: 1px dashed black;
}

.box{
    display: flex;
    justify-content: center;
    padding: 1rem 4rem; 
}

/* HEADER */
.bgc-light{
    background-color: rgb(171, 215, 229);
}

.log{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgb(217, 163, 37);
    flex-grow: calc(100 / 4);
}

.head{
    background-color: blue;
}

.lilla{
    width: 20rem;
    height: 8rem;
    background-color: rgb(237, 129, 237);
}

/* MAIN */

.bgc-white{
    background-color: white;
}

.pink{
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 191, 202);
}

.sky{
    width: 18rem;
    height: 10rem;
    background-color: rgb(35, 143, 255);
}

.bgc-grey{
    background-color: rgb(210, 210, 210);
}

.green{
    width: 28rem;
    height: 20rem;
    background-color: rgb(39, 138, 39);
}

/* FOOTER */

.bgc-dark{
    background-color: rgb(40, 43, 46);
    padding-top: 0.5rem;
}

.border-white{
    border: 1px dashed white;
}

.coral{
    width: 8rem;
    height: 10rem;
    background-color: rgb(239, 127, 127);
}

.marine{
    width: 5rem;
    height: 10rem;
    background-color: rgb(37, 176, 168);
}